<header id="head">
        <div id="tog-arrow" >
            <img src="img/left_arrow.png" alt="" onclick="toggleNav()" style="cursor:pointer">
                </div>
    <div class="row">
        <div class="col-md-6 col-lg-6 col-xl-6 col-sm-6 col-6">
            <select name="" id="">
                <option value="Design Task">Design Task</option>
            </select>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-6 col-sm-6 col-6" align="right"><button class="add-btn" data-toggle="modal" data-target="#exampleModalCenter"> <span>+</span>Add Project </button></div>
    </div>
</header>