<header id="head">
    <div class="row">
        <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 col-12">
            <select name="" id="">
                <option value="Design Task">Design Task</option>
            </select>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 col-12" align="right"><button class="add-btn" data-toggle="modal" data-target="#exampleModalCenter"> <span>+</span>Add Project </button></div>
    </div>
</header>
<div id="main" >
    <img src="img/left_arrow.png" alt="" onclick="toggleNav()" style="cursor:pointer">

</div>