<div id="mySidenav" class="sidenav">
    <img class="logo" src="img/logo.png" alt="">
    <!-- <a href="javascript:void(0)" class="closebtn" onclick="closeNav()" onclick="openNav()"><img src="img/left_arrow.png" alt="" style="cursor:pointer">
    </a> -->
    <div class="side-list top-sec">
        <div class="list-sec">
            <img src="img/speedometer.png" alt="Dashboard">
            <a href="/">Dashboard</a>
        </div>
        <div class="list-sec">
            <img src="img/graph.png" alt="Activity">
            <a href="/activity">Activity</a>
        </div>
        <div class="list-sec">
            <img src="img/timer_white.png" alt="Timesheet">
            <a href="/timesheet">Timesheet</a>
        </div>
        <div class="line"></div>
    </div>
    <div class="side-list">
        <div class="list-sec">
            <img src="img/icons8-today-96.png" alt="To-Do">
            <a href="/todo">To-Do</a>
        </div>
        <div class="list-sec">
            <img src="img/bill.png" alt="Invoices">
            <a href="/invoices">Invoices</a>
        </div>
        <div class="list-sec">
            <img src="img/folder.png" alt="Projects">
            <a href="/projects">Projects</a>
        </div>
        <div class="line"></div>
    </div>
    <div class="side-list">
        <div class="list-sec">
            <img src="img/help.png" alt="Help">
            <a href="/help">Help</a>
        </div>
        <div class="list-sec">
            <img src="img/download.png" alt="Download app">
           <a href="/download">Download App</a>
        </div>
    </div>
    <div class="side-foot">
        <img src="img/notification.png" alt="">
        <img src="img/settings.png" alt="">
        <img src="img/picture.png" alt="">
    </div>
</div>