<%- include('partials/main')  %> 
 <%- include('partials/sidebar')  %> 
  <%- include('partials/header')  %> 
  <div id="mid" class="mid-sec">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium aut repellat, laboriosam non magni saepe assumenda illo eaque cum vitae cumque eveniet veritatis iste ex dolor dolorum omnis magnam ipsam.
        Iusto eum vitae neque minus, repellat deserunt exercitationem sunt sit magnam voluptates, distinctio sapiente odit fugit blanditiis repellendus sequi molestiae soluta voluptas maxime consectetur maiores ut error cumque veritatis! Hic!
        Fugiat minus maiores perferendis eveniet exercitationem. Accusamus, atque dolorum, numquam corporis natus rerum id nemo eum eos illo unde, dicta nulla sequi nostrum minima optio libero! Similique non iure vel?
        Iste earum in quam. Voluptates, saepe! Adipisci modi dolor, molestias quaerat asperiores iure doloribus dignissimos rerum sequi dicta fugit iste, provident fuga dolore aspernatur deserunt deleniti enim. Reprehenderit, alias iste?
        Deleniti, maiores commodi? Repellendus aliquam dolorem cupiditate, eum alias consectetur, debitis distinctio sunt maiores quasi nisi autem eos ratione et ut ab. Officiis minima odit quasi voluptates, commodi accusantium nesciunt!
        Exercitationem cumque nihil recusandae fuga illum sit quisquam nulla sapiente laudantium aliquam perferendis nesciunt, corrupti harum voluptatibus praesentium quas velit deserunt ex temporibus reiciendis voluptatem quidem ratione. Quibusdam, voluptatum ducimus.
        Dignissimos tempora, saepe doloribus amet autem sapiente? Eum incidunt optio debitis ducimus laboriosam harum enim saepe iure excepturi, soluta illo veritatis perspiciatis tempore corporis cupiditate fugiat porro? Adipisci, voluptates ipsam!
        Iusto perspiciatis enim consectetur labore, deleniti soluta quibusdam repudiandae, maiores ea repellendus doloribus sequi doloremque obcaecati recusandae odit excepturi dignissimos placeat tempore modi aliquid quos omnis inventore commodi magni. Aliquam?
        Ex alias quisquam blanditiis quam incidunt, ipsum optio corporis delectus sit obcaecati, reprehenderit repudiandae minus, voluptatem accusantium odio amet. Ad aliquam quas praesentium, expedita quam placeat quis. Fugiat, eum eveniet?
        Deleniti alias id iusto sapiente, cum provident sit quos enim illum! Distinctio provident nulla pariatur vel neque fugiat, a earum libero porro suscipit adipisci odio quis amet, possimus, ducimus aut.
        Quos odit ratione perspiciatis quia qui, officiis libero, ea modi, consequatur molestiae laborum non incidunt. Distinctio ad rem dolorum ducimus quod, dicta enim reiciendis consectetur eaque saepe autem dolorem necessitatibus.
        Natus, nihil quas. Nemo incidunt eveniet sit quasi placeat aperiam, tempora velit eaque error nisi natus ea? Ipsam aspernatur magni iure fuga. Repellat nulla distinctio facere est ab, quae repudiandae.
        Perspiciatis, quia inventore! Tenetur delectus eligendi libero! Quia quisquam ullam similique ad! Sit reiciendis impedit placeat aut, sequi, quam dolorum sint eveniet numquam modi itaque fuga quod laborum id dolor.
        Pariatur, sint! Odit necessitatibus eius culpa quas accusantium aperiam porro sunt repellendus ipsa laboriosam esse, reprehenderit autem laudantium velit quam vitae possimus atque quaerat, itaque minus. Praesentium laborum ad iure!
        Incidunt illo aspernatur veniam consequuntur vero adipisci placeat eius pariatur? Suscipit modi aliquam laboriosam non sunt, sint aspernatur a veniam sit sequi maxime doloremque nemo quo pariatur! Atque, accusamus error?
        Quam, odit! Beatae aperiam, eveniet, itaque eius velit hic nemo sunt nisi perferendis illum consectetur ipsam libero unde odit cumque cum doloremque vel voluptatem quam modi inventore labore. Aspernatur, molestias?
        Quo numquam eum ratione saepe facilis voluptas officia nobis! Accusantium nulla, maiores ducimus optio, suscipit impedit dignissimos veniam qui, mollitia labore hic porro iure quisquam deserunt incidunt consequuntur! Facere, magni!
        Provident excepturi blanditiis aut eligendi facilis ut voluptatibus distinctio consequatur quae maxime corporis reprehenderit eius aliquam corrupti, nostrum exercitationem autem at, harum optio hic. Dolores, amet! Illo, incidunt. Dolorem, a.
        Laboriosam iusto eos commodi atque culpa, ullam, dicta corporis alias ipsa nihil nam modi aut id labore vel accusamus exercitationem sequi ducimus. Esse, quisquam labore! Molestias nobis vero debitis officiis.
        Aliquid itaque unde ipsum repudiandae nisi sunt. Labore veniam hic nulla repudiandae laboriosam deserunt doloremque, nesciunt esse maiores sequi, cumque nisi, harum est? Architecto porro similique cupiditate doloremque, iure est.</p>
</div>