<%- include('partials/main')  %> 
<div class="row">
  <div class="col-md-3 col-lg-3 col-sm-12 col-12 p-0">
    <%- include ('partials/sidebar') %>
  </div>
  <div class="col-md-9 col-lg-9 col-sm-12 col-12 p-0">
    <%- include ('partials/header') %>
    <div id="mid" class="mid-sec">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi sequi, totam quae sapiente in asperiores aperiam iste provident, repudiandae animi est nihil eum quasi et dignissimos inventore officiis rem temporibus?
      Aliquam voluptatum quam a, ipsam necessitatibus dicta perferendis. Laboriosam sunt error consequuntur laudantium pariatur, sed odio, voluptas iste magnam mollitia, excepturi quisquam numquam autem molestiae optio repudiandae modi atque nostrum.
      Magnam perferendis ab id, soluta, ipsam iste distinctio deserunt sunt veritatis consequuntur at unde nulla minima. Libero voluptas magni, atque id ea illo odio voluptates sed pariatur perspiciatis aliquid commodi?
      Minus ipsum cumque debitis quos ad. Nesciunt dolorum nobis accusamus itaque, dignissimos facilis, dolores incidunt officiis nihil assumenda minima optio laudantium atque! Est explicabo hic commodi dolor odit. Molestias, laboriosam!
      Reprehenderit sapiente vel alias nemo nihil culpa soluta ut! Quisquam vel porro eius recusandae illo fuga doloribus deleniti voluptates, fugit, impedit ducimus unde libero beatae ipsam tempora. Officia, illo laboriosam!
      Hic, sunt pariatur distinctio similique aliquam in ipsum maxime dicta molestias exercitationem repudiandae consequatur temporibus asperiores tempore ad sint, eaque voluptate. Eligendi dolorem ullam, ducimus assumenda dolore neque aspernatur veniam.
      Adipisci odit inventore aliquam minima autem rerum tenetur accusantium numquam? Deleniti officiis perspiciatis ad, odio pariatur quam non asperiores repellendus dolorem velit est, quia aspernatur? Sunt, facilis accusamus! Rem, ipsam.
      Voluptatibus temporibus laborum corporis excepturi est, alias enim reiciendis quaerat quisquam. Nobis minus corporis obcaecati eligendi consequatur, adipisci deserunt aperiam facere consequuntur non, vero nulla laborum ullam? Adipisci, esse asperiores.
      Provident consequatur praesentium maiores ut voluptatibus saepe sapiente nisi voluptas doloribus placeat velit quis delectus, quod, dicta modi tempore, facilis fuga! Minima quod quam explicabo sunt, molestias corrupti eos amet?
      Esse eaque quae eveniet earum delectus, tempora suscipit voluptate officiis praesentium! Suscipit nostrum perspiciatis nam odit quidem aspernatur, debitis libero accusantium itaque corporis deserunt a voluptate, dolore quod vitae ea.
      Aliquid facere architecto labore error laboriosam magnam quis non a, minima veritatis amet dignissimos quas ipsam pariatur quaerat iusto quasi perferendis fuga ab harum ipsum. Error omnis temporibus consequuntur itaque?
     illum accusamus non earum aliquid.
    </div>
  </div>

</div>

<%- include('partials/modal')  %> 