body {
    font-family: "Lato", sans-serif;
    overflow-x: hidden;
    min-height: 100vh;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 8px;               /* width of the entire scrollbar */
  }
  body::-webkit-scrollbar-track {
    background: rgb(209, 209, 209);        /* color of the tracking area */
  }
  body::-webkit-scrollbar-thumb {
    background-color: #382f9c;    /* color of the scroll thumb */
    border-radius: 32px;       /* roundness of the scroll thumb */
    
  }

/* -------------- Side bar Styles ------------- */

.sidenav {
    z-index: 1;
    min-width: 17rem;
    width: 20rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
    background-color: #382f9c;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
    background-image: url(img/sidebar_overlay.png) !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-position-x: left !important;
    background-position-y: bottom !important;
    background-size: 2.5%;
}

#tog-arrow{
    transition: margin-left .5s;
    /* z-index: 10; */
    position: relative;
    top: 122%;
    right: 102%;
    padding-left: 80%;
}

#tog-arrow img{
    border-radius: 50%;
    position: absolute;
    /* left: 0%; */
    /* left: 16.5%;
    top: -60px; */
    right: -12.8px;
    font-size: 30px;
    margin-top: 0;
    border: 7px solid #fff;
    z-index: 100;
    background: #fff;
}

#main img {
    border-radius: 50%;
    position: absolute;
    /* left: 0%; */
    /* left: 16.5%;
    top: -60px; */
    right: -12.8px;
    font-size: 30px;
    margin-top: 0;
    border: 7px solid #fff;
    z-index: 100;
    background: #fff;
}

#head,
.mid-sec {
    transition: 0.5s;
    padding: 10px 25px 10px;
    height: 65px;
    border-bottom: 1px solid #e1e1e1;
    
    /* margin: 25px 25px 0 25px; */
    /* margin: 15px 25px 0 20%; */
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 22px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.sidenav .closebtn {
    position: absolute;
    top: 4%;
    margin-top: 10%;
    right: -18px;
    /* font-size: 36px; */
    margin-left: 50px;
    padding: 0 6px;
}

#head {
    /* z-index: 10; */
    /* position: sticky; */
    top: 0;
    background-color: #fff;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
    /* z-index: 10; */
    position: sticky;
    top: 20%;
}

.logo {
    padding-left: 10%;
}

.side-list {
    margin-top: 20px;
}

.top-sec {
    margin-top: 45px !important;
}

.list-sec {
    display: flex;
}

.list-sec img {
    margin: 10px 29px;
    width: 20px;
    height: 18px;
}

.list-sec p {
    margin: 10px 0px;
    color: #fff;
    font-size: 13px;
}

.line {
    border: 1px solid #b1b1b1;
    width: 40px;
    margin-left: 11%;
    margin-top: 5%;
}

.side-foot {
    position: absolute;
    bottom: 9px;
    margin-left: 68px;
}

.side-foot img {
    margin: 0 20px;
}


/* --------------- Header styles ------------- */

select {
    padding: 5px;
    font-size: 12px !important;
    width: 120px;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
}

.add-btn {
    color: #3c349e;
    border-radius: 2.5px;
    border: unset;
    padding: 5px 12px;
    font-size: 15px;
    font-weight: bolder;
    letter-spacing: 1.4px;
    background-color: #bebbde;
    outline: none;
}

.add-btn:hover {
    color: #ffffff;
    border-radius: 2.5px;
    border: unset;
    padding: 5px 12px;
    font-size: 15px;
    font-weight: bolder;
    letter-spacing: 1.4px;
    background-color: #3c349e;
    outline: none;
}


/* ------------- mid sec-------------- */

.mid-sec {
    height: auto;
    width: auto;
    margin-top: 0;
    border: unset;
    padding: 20px 25px;
}

.rep-sec {
    padding: 0 25px;
}


.view-btn button {
    color: #3c349e;
    font-weight: 500;
    font-size: 13px;
    padding: 5px 10px;
    margin-right: 25px;
    border: unset;
    background-color: #bebbde;
    border-radius: 2.5px;
    outline: none;
}

.view-btn button:hover {
    color: #ffffff;
    background-color: #3c349e;
    
}


.view-tbl {
    width: 100%;
    margin-top: 20px;
}

.view-tbl th {
    font-size: 12px;
}

.tbl-info tr td {
    font-size: 11px;
    padding: 10px 10px;
}

.tbl-info tr td span {
    padding: 4px 8px;
    border-radius: 5px;
    margin-right: 5px;
    /* border: 1px solid #c1c1c1; */
}

.week-act {
    background: #382f9c;
    border-radius: 10px;
    margin-top: 12%;
}

.week-act:hover{
    background-color: #6c65b3;
}

.worksec {
    border-radius: 10px;
    margin-top: 10%;
    background: #f4f4f4;
}
.worksec:hover{
    color: white;
    background: #382f9c;
   
}

.week-act div,
.worksec div {
    padding: 0 5px;
}

.bar {
    margin-top: 10px;
    margin-left: 12px;
    padding: 8px;
    background: #5346bb;
    border-radius: 5px;
    width: 35px;
}

.timer {
    padding: 8px;
    border-radius: 5px;
    width: 35px;
    border: 1px solid #c1c1c1;
    /* background: #b1b1b1; */
    margin-top: 10px;
    margin-left: 10px;
}

.worksec-p p {
    margin: 6px 0;
    font-size: 10px;
}

.week-act-p p {
    margin: 6px 0;
    font-size: 10px;
    color: #e1e1e1;
}

.p-per {
    font-size: 15px !important;
    font-weight: 600;
}

.per button {
    font-size: 13px;
    width: 60px;
    border-radius: 5px;
    margin-top: 15px;
    border: unset;
    background: #78eb78;
    color: #fff;
    padding: 2px;
}

.per-we button {
    font-size: 12px;
    width: 60px;
    border-radius: 5px;
    margin-top: 15px;
    border: unset;
    background: #f3acd5;
    color: rgb(241, 58, 58);
    padding: 2px;
}

.export {
    margin-top: 8%;
}

.export button {
    color: #3d349e;
    margin-top: 7%;
    width: 100%;
    padding: 5px;
    font-size: 12px;
    border: 1px solid darkblue;
    border-radius: 5px;
}

.export button span img {
    margin: 0 20px;
}

.date-sec{
    padding: 10px;
}

.date-sec p {
    font-size: 12px;
    margin: 2px 0;
    text-align: center;
}

.day {
    font-size: 16px !important;
    font-weight: 600;
}

.to-do {
    margin-top: 15px;
}

.to-do .row {
    margin-top: 4%;
}

.img-sec {
    margin-top: 25px;
    position: relative;
}

.img-sec p:hover {
    font-size: 12px;
    color: white;
    position: absolute;
    right: 0;
    top: 0px;
    background: #3d349e;
    padding: 0px 10px;
    border-radius: 4px;
    margin: 0;
    height: 25px;
    
}
.img-sec p {
    font-size: 12px;
    position: absolute;
    right: 0;
    top: 0px;
    background: #dbdbdb;
    padding: 0px 10px;
    border-radius: 4px;
    margin: 0;
    height: 25px;
    cursor: pointer;
}


.img-sec div img {
    width: 25px;
}

.img-sec span {
    font-size: 12px;
    margin-left: 10px;
}

.rewamp {
    position: relative;
    padding:  18px;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color:#f9f9f9;
}

.rewamp:hover{
    border: solid 1px #c0c0c0;
    background-color: rgb(255, 255, 255);
}

.rewamp p {
    font-size: 18px;
    margin: 2px 0;
    font-weight: 600;
}

.rewamp p:hover{
    color:#3d349e;
}

.rewamp img {
    position: absolute;
    top: 20px;
    right: 10%;
}
/* Table styles */
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #e2e2e2;
 }
 .ham-icon{
    
    display: none;
}

@media only screen and (max-width: 480px){
    .sidenav {
        visibility: hidden;
        z-index: 1;
        /* min-width: 17rem; */
        width: 100%;   
        height: 100vh;
        /* position: fixed; */
        top: 0;
        left: 0;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
        transition: all 0.4s;
        background-color: #382f9c;
        overflow: hidden;
        transition: 0.5s;
        padding-top: 20px;
        background-image: url(img/sidebar_overlay.png) !important;
        background-repeat: no-repeat !important;
        background-attachment: fixed !important;
        background-position-x: left !important;
        background-position-y: bottom !important;
        background-size: 8.5%;
        overflow-y: hidden; /* Hide vertical scrollbar */
        overflow-x: hidden; /* Hide horizontal scrollbar */
    }
    #tog-arrow img{
        border-radius: 50%;
        position: absolute;
       transform: rotate(177deg);
        top: -23px;
        right: -34.8px;
        font-size: 30px;
        margin-top: 0;
        border: 7px solid #fff;
        z-index: 100;
        background: #fff;
    }
    select {
        padding: 5px;
        font-size: 13px !important;
        width: 107px;
        border: 1px solid #e1e1e1;
        border-radius: 5px;
    }

    .view-btn button {
        color: #3c349e;
        font-weight: 500;
        font-size: 10px;
        padding: 5px 10px;
        margin-right: 25px;
        border: unset;
        background-color: #bebbde;
        border-radius: 2.5px;
        outline: none;
    }
    .add-btn {
        color: #3c349e;
        border-radius: 2.5px;
        border: unset;
        padding: 5px 12px;
        font-size: 12px;
        font-weight: bolder;
        letter-spacing: 1.4px;
        background-color: #bebbde;
        outline: none;
    }
    

}

 @media only screen and (min-width:600px) and (max-width:768px){
    .sidenav {
        z-index: 1;
        /* min-width: 17rem; */
        width: 1.5rem;   
        height: 100vh;
        /* position: fixed; */
        top: 0;
        left: 0;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
        transition: all 0.4s;
        background-color: #382f9c;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 20px;
        background-image: url(img/sidebar_overlay.png) !important;
        background-repeat: no-repeat !important;
        background-attachment: fixed !important;
        background-position-x: left !important;
        background-position-y: bottom !important;
        background-size: 2.5%;
    }

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 12px;
        color: #ffffff;
        display: block;
        transition: 0.3s;
    }
    
   
    
 }



 @media (min-width:1600px) { 
     
    /* hi-res laptops and desktops */ 
    .sidenav {
        z-index: 1;
        min-width: 17rem;
        width: 29rem;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
        transition: all 0.4s;
        background-color: #382f9c;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 20px;
        background-image: url(img/sidebar_overlay.png) !important;
        background-repeat: no-repeat !important;
        background-attachment: fixed !important;
        background-position-x: left !important;
        background-position-y: bottom !important;
        background-size: 2.5%;
    }

  
    

}